<!DOCTYPE html>
<html>
<head>
  <title>AsyncRequest</title>
  <%= stylesheet_link_tag    "async_request/application", media: "all" %>
  <%= javascript_include_tag "async_request/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
